body{
    overflow-x: auto !important;
    padding: 0px !important;
}
*::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}
*::-webkit-scrollbar-track{
    background: rgba(235,236,241,1);
}
*::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,1);
    border-radius: 2px;
    border: 2px solid rgba(235,236,241,1);
}
*::-webkit-scrollbar-thumb:hover{
    background: rgba(55,58,60,1);   
}
.sidebar-toggle:hover{
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-color: rgb(55, 58, 60);
}
.sidebar{
    background-color: #000 !important;
}
.sidebar-dark ul li a {
    font-size: 1rem;
    color: rgba(255,255,255,1);
    border-bottom: 2px solid #373a3c;
}
.sidebar-dark ul li a:hover {
    background-color: #373a3c;
}
.card-body{
    overflow: auto !important;
}
.table{
    margin: auto;
    width: 100% !important;
}
.dropdown-menu a:hover{
    color: black !important;
}
.text-black{
    color: black !important;
}
.dataTables_wrapper{
    overflow-x: auto;
}
.card-seguridad-img:hover, .card-seguridad-img-autenticar:hover{
    background: #000;
}
.modal{
    overflow-y: auto !important;
}
.modal-autenticar-usuario{
    background-color: rgba(0,0,0,.4);
}
.accordion .card-header button:hover{
    background-color: #FFF;
}
.modal-dialog{
    display: flex;
    min-height: 90vh;
    align-items: center;
}