body{
    overflow-x: auto !important;
    padding: 0px !important;
}
.sidebar{
    background-color: #000 !important;
}
.sidebar-dark ul li a {
    font-size: 1rem;
    color: rgba(255,255,255,1);
    border-bottom: 2px solid #373a3c;
}
.sidebar-dark ul li a:hover {
    background-color: #373a3c;
}
.card-body{
    overflow: auto !important;
}
.table{
    margin: auto;
    width: 100% !important;
}
.dropdown-menu a:hover{
    color: black !important;
}
.text-black{
    color: black !important;
}
.dataTables_wrapper{
    overflow-x: auto;
}
.card-seguridad-img:hover{
    background: #000;
}